* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: monospace;

}
.header {
  background-image:url('../images/fondo.jpg')
}
.title{
  text-align: center;
  height: 100px;
  color: antiquewhite;
  font-size: 60px;
  font-weight: bold;
}
.form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.input {
  width: 350px;
  margin-left: 0;
  padding-left: 10px;
  
  background: rgb(230, 229, 215);
  border-radius: 10px;
  border: solid 1px rgb(44, 49, 46);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.btnSearch,
.resetBtnfav {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border-style: none;
  background-color: rgb(54, 42, 73);
  color: aliceblue;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.btnSearch:hover{
  background-color: rgb(123, 75, 200);
}
.resetBtnfav:hover{
  background-color: rgb(123, 75, 200);
}
.containerul {
  display: grid;
  grid-template-columns: 20% 80%;
}

.fav_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}
.li_fav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.ulFav {
  display: flex;
  flex-direction: column;
  padding-left: 0;

}

.ulSeries {
  display: flex;
  flex-wrap: wrap;
}

.li__serie {
  list-style: none;
  background: rgba(74, 4, 155, 0.2);
  color:  rgba(38, 6, 54, 0.876);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 330px;
  border: solid 3px rgba(38, 6, 54, 0.876);
  }

    .selected{
    color:rgb(199, 131, 226);
    background: rgb(95, 17, 109);
    list-style: none;
    border: solid 2px white;
   }
   .fav_content {
    display: flex;
    flex-direction: row;
    margin: 0;
   
    font-size: 12px;
  }
  .faicon {
       cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: none;
    background: rgb(45, 15, 53);
    color: aliceblue;
  }
  .serie__img{
    width: 170px;
  height: 235px;
  }
